<div class='text-center'>
  <h2>Welcome back, {{user_id}}!</h2>
  <h3>We heard you have some updates.</h3>
  <p>{{{get_emoji}}}</p>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <div contenteditable='true'>
    {{blog.title}}
  </div>
  <!-- editable input form goes here -->
<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Edit Your Blog Post:</h3>

  <div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Write a New Blog Post:</h3>

    <form class='form edit-blog-form'>
      <div class='form-group'>
        <label for='edit-title'>Title:</label>
        <input class='form-input' type='text' id='edit-title' name='edit-title' />
      </div>
      <div class='form-group'>
        <label for='edit-desc'>Content:</label>
        <textarea class='form-input' id='edit-desc' name='edit-desc'></textarea>
      </div>
    </form>
  </div>
        <!-- onclick "save" button, user is redirected to their profile -->
        <button type='submit' class='btn btn-primary'>UPDATE</button>
      </div>
    </form>
  </div>
</div>

<script src='../js/blog.js'></script>